body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   }
   
   header,
   footer {
    flex: none;
   }
   
   main {
    display: flex;
    flex-direction: row;
    flex: auto;
    overflow-y: auto;
   }
   
   article {
    flex: 2;
    overflow-y: auto;
   }
   
   aside {
    flex: 1;
    overflow-y: auto;
   }
   body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: white;
    padding: 1rem;
}


header .logo {
    font-size: 2rem;
}


nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 1rem;
}


nav ul li a {
    color: white;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 2rem;
}


footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
body{
    background-color: #51403d;
}
th{
    background-color: #3d4d55;
    color: #4a5c6a;
}

   

